@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

@import 'bootstrap/scss/bootstrap';

body {
    background-color: $white;
    color: $textcolor;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.vz_container {
    width: 1170px;
}