@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


@import 'bootstrap/scss/bootstrap';

body {
    background-color: $white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
h3 {
    color: $black;
    text-transform: capitalize;
    font-weight: bold;
}
img {max-width: 100%;}
.vz_container {
    width: 80%;
    // verifica poi se usati effettivamente tutti con m 0 auto allora spostare qui
}
.blue-btn {
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 18px;
    border-radius: 28px;
    border: none;
}
.transp-btn-jumbo {
    color: $white;
    border: 1px solid $white;
    background-color:rgba(252, 252, 252, 0.143);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding: 9px 22px;
    border-radius: 13px;
}
.transp-btn {
    color: $white;
    text-transform: uppercase;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 15px;
    width: 100px;
    padding: 7px 10px;
}