// colors
$white: white;
$black: black;
$textcolor: rgb(41, 45, 50);
$blue: rgb(66, 126, 213);
$green: rgb(114, 193, 134);
$lightblue: rgb(244, 248, 249);
$lightgray: rgb(246, 246, 246);
$gray:rgb(48, 51, 55);
$midgray: rgb(43, 46, 50);
$darkgray:rgb(29, 31, 34);

