// colors
$white: white;
$black: black;
$lightgray: rgb(236, 236, 236);
$textgraycolor: rgb(87, 92, 97);
$grayborder:rgb(246, 246, 246);
// $blue: rgb(70, 131, 215);
$blue: #333333;
$green: rgb(114, 193, 134);
$lightblue: rgb(244, 248, 249);
$softgray: rgb(246, 246, 246);
$gray:rgb(48, 51, 55);
$midgray: rgb(43, 46, 50);
$darkgray:rgb(29, 31, 34);
$hoverpeach: rgb(253, 149, 110);
$hoverblue: rgb(82, 136, 211);

